@import "vars";
@import "fonts";
@import "libs";
@import "_modules/header";
@import "_modules/project";
::placeholder {
  color: #666;
}

::selection {
  background-color: lighten($accent, 10%);
  color: #fff;
}

::-webkit-scrollbar {
  width: 3px;
  &-button {
    display: block;
    height: 0px;
    &:hover {
      background-color: #fff;
    }
  }
  &-thumb {
    background-color: lighten($darkgrey, 10%);
    &:hover {
      background-color: rgba($accent, 0.7);
    }
  }
  &-track {
    background-color: #efefef;
  }
}

body {
  background-color: #fff;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  color: $text;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-transform: uppercase;
  line-height: 1.3;
}

//BUTTONS
.button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: $accent;
  padding: 16px 45px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease;
  &::after {
    transition: background-color .2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    background-color: darken($accent, 50%);
    opacity: .18;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    left: 0;
  }
  &:focus,
  &:hover {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    background-color: lighten($accent, 5%);
    &::after {
      opacity: .22;
    }
  }
  &:active {
    background-color: darken($accent, 5%);
    &::after {
      opacity: .32;
    }
  }
}

.owl-carousel {
  .owl-item {
    backface-visibility: inherit;
  }
}

@import "media";